/* Color Scheme which use in whole page */
:root{
  --dark-color: #282729;
  --Primary-color: #820000;
  --titles_color:#e84242;
  --work_area_color: #FFE569;
 --Navbar_tab_color: #00ebff;
}
/* For Webpage to scroll Smooth */
html{
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
}
.container{max-width: 1200px;margin: auto;}

/* Header Section */
header{background-color: var(--dark-color);padding: 10px 20px;}
header h1{
    display: inline-block;
    color: white;
    background-color: var(--Primary-color);
    width: 300px;
    text-align: right;
    position: relative;
    left: -20px;
    padding: 2px 26px 2px 0px;
    font-size: 36px;
}
/* Navbar Section */
nav{
  float: right;
}
nav ul li {
    display: inline-block;
    margin: 0px 18px;
}
/* nav_item is the class of A tag in navbar */
nav ul li .nav_item{
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: linear;
    transition: 0.4s ease-in-out;
}
/* Hover Effect which work on when mouse hover here */
.nav_item:hover{
  color: var(--titles_color);
  transition: linear;
  transition: 0.4s ease-in-out;
}
/* TO add some transition Effect in Navbar */
.nav_item::after{
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background:var(--titles_color);
  transition: width.3s;
}

.nav_item:hover::after{
  width: 100%;
  transition: linear;
  transition: width .3s;
}

/* Hero Banner */
.hero-banner{
  background-image: url("../images/Hero_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section .hero_article{
    padding: 20px;
}
section .hero_article h2{
    text-align: right;
    color: white;
    display: block;
}
section .hero_article h2 span{
  background-color: var(--Primary-color);
  padding: 10px;
}
section .hero_article img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  margin-left: 20px;
}
main{
    background: #e4f2fe;
}

/* About Section */
    section .flex_container{display: flex;padding: 72px;}
    section .flex_container .flex_left{
    text-align: right;
    width: 15%;
}
    section .flex_container .flex_left h2{
    font-size: 34px;
    color: var(--Primary-color);
}
    section .flex_container .flex_right{
    padding-left: 58px;
    border-left: 4px solid var(--Primary-color);
    margin-left: 37px;
    width: 85%;
}
    section .flex_container .flex_right p{
    padding: 10px 0px;
    font-size: 16px;

}

/* Work Section */

/* Use Grid Method For Responsivness and Better Experience */
.work_grid{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;grid-template-columns: 1fr 1fr;
  grid-template-areas:
"grid_1 grid_1"
"grid_2 grid_3"
"grid_4 grid_5";
grid-gap: 10px;}

/* Grid areas assign */
 .work_grid .grid_1{grid-area: grid_1;}
 .work_grid .grid_2{grid-area: grid_2;}
 .work_grid .grid_3{grid-area: grid_3;}
 .work_grid .grid_4{grid-area: grid_4;}
 .work_grid .grid_5{grid-area: grid_5;}

/* Css for Grid Card */
.work_grid .grid_column .grid_Card {width: 100%;height: 300px;border: 5px solid var(--work_area_color);overflow: hidden;position: relative;}

.work_grid .grid_column .grid_Card img{
    width: 100%;
}
/* Css for grid card title section */
.work_grid .grid_column .grid_bio{
    position: absolute;
    color: black;
    background-color: var(--work_area_color);
    top: 65%;
    padding: 10px 25px 10px 30px;
    border-top-right-radius: 25px;
}
.work_grid .grid_column .grid_bio h4{
    font-size: 18px;
}
.work_grid .grid_column .grid_bio p{
    font-size: 14px;
    padding: 0px;
}

/* Contact Me Section */
#contact_me .flex_right ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}
#contact_me .flex_right ul li{margin:0px 10px}
#contact_me .flex_right ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#contact_me .flex_right ul li a::after{
  content: '';
  display: block;
  width:100%;
  height:3px;
  background-color: var(--Primary-color);
}

/* Media Query For Responsivness on 992px which is one of the standard size */
@media screen and (max-width:1200px) {
  /* Main section flex Styling */

  section .flex_container{flex-wrap:wrap;padding: 20px 50px;}
  section .flex_container .flex_left{
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.flex_left h2 >br{display: none;}
  section .flex_container .flex_right{
    padding-left: 0px;
    border-top: 4px solid var(--Primary-color);
    border-left: none;
    margin-left: 0px;
    width: 100%;
    padding-top: 10px;
  }
}

/* Media Query For Navbar Responsivness on tablet view point */
@media screen and (max-width:992px) {
  header{padding: 0px;}
  header h1{
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    left: 0px;
    padding: 10px 0px;
}
nav{
  float: none;
  text-align: center;
}
nav ul{
    padding: 16px 0px;
    margin: 0px;
}
/* For Hero Image Responsiveness */
  section .hero_article h2{
    text-align: right;
    color: white;
    display: block;
  }
  section .hero_article h2 span{
  background-color: var(--Primary-color);
  padding: 10px;
  }
  section .hero_article img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  margin-left: 20px;
  }
}

/* Media Query for Small Sizes */
@media screen and (max-width:767px){

}