:root{
  --dark-color:#31343D;
  --Primary-color:#A52A2A;
  --titles_color:#e84242;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
}
.container{
  margin: auto;
}
/* Header Section */
header{background-color: var(--dark-color);padding: 10px 20px;}
header h1{
    display: inline-block;
    color: white;
    background-color: brown;
    width: 300px;
    text-align: right;
    position: relative;
    left: -20px;
    padding: 2px 20px 2px 0px;
}
/* Navbar Section */
nav{
  float: right;
}
nav ul li {
    display: inline-block;
    margin: 0px 18px;
}
/* nav_item is the class of A tag in navbar */
nav ul li .nav_item{
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: linear;
    transition: 0.4s ease-in-out;
}
.nav_item:hover{
  color: var(--Primary-color);
  transition: linear;
  transition: 0.4s ease-in-out;
}
/* TO add some transition Effect in Navbar */
.nav_item::after{
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background:var(--Primary-color);
  transition: width.3s;
}

.nav_item:hover::after{
  width: 100%;
  transition: linear;
  transition: width .3s;
}

/* Hero Banner */
main .hero-banner{
  background-image: url("../images/Hero_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section .hero_article{
    padding: 20px;
}
section .hero_article h2{
    text-align: right;
    color: white;
    display: block;
}
section .hero_article h2 span{
  background-color: var(--Primary-color);
  padding: 10px;
}
section .hero_article img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  margin-left: 20px;
}
.container{max-width: 1200; margin: auto;}
/* About Section */
    section .flex_container{display: flex;padding: 72px;}
    section .flex_container .flex_left{
    text-align: right;
    width: 15%;
}
    section .flex_container .flex_left h2{
    font-size: 33px;
}
    section .flex_container .flex_right{
    padding-left: 58px;
    border-left: 4px solid var(--Primary-color);
    margin-left: 37px;
    width: 85%;
}
    section .flex_container .flex_right p{
    padding: 10px 0px;
    font-size: 16px;

}

/* Work Section */

/* Use Grid Method For Responsivness and Better Experience */
.work_grid{display: grid; grid-template-rows: 1fr 1fr 1fr 1fr; grid-template-columns: 1fr 1fr;
grid-template-areas:
 "grid_1 grid_1" 
 "grid_2 grid_3"
 "grid_4 grid_5";}
 .work_grid .grid_1{grid-area: grid_1;}
 .work_grid .grid_2{grid-area: grid_2;}
 .work_grid .grid_3{grid-area: grid_3;}
 .work_grid .grid_4{grid-area: grid_4;}
 .work_grid .grid_5{grid-area: grid_5;}
/* Grid Images only CSS */
.work_grid .grid_1 .first_layer {background-image: url(../images/Works/Horiseon.png);}
.work_grid .grid_2 .first_layer {background-image: url(../images/Works/Cell\ &\ Gen.png);}
.work_grid .grid_3 .first_layer {background-image: url(../images/Works/Elab\ Education\ Expo\ 2021.PNG);}
.work_grid .grid_4 .first_layer {background-image: url(../images/Works/Dental\ Public\ Health\ Workforce.PNG);}
.work_grid .grid_5 .first_layer {background-image: url(../images/Works/Picus.png);}

.work_grid .grid_column{}
.work_grid .grid_column .first_layer{}
.work_grid .grid_column .first_layer {width: 100%;height: 300px;background-position: top;background-repeat: no-repeat;border: 3px solid sandybrown;background-size: cover;}

.work_grid .grid_column .first_layer img{}
.work_grid .grid_column .second_layer{}
.work_grid .grid_column .second_layer h4{}
.work_grid .grid_column .second_layer p{}
